<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100 align-items-center">
    <!-- Sección del logo -->
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img src="assets/logo_mio.png" alt="Logo Personalizado" class="logo-image">
    </div>

    <!-- Sección del formulario -->
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="card p-4 login-card">
        <h2 class="text-center mb-4">Recuperar Contraseña</h2>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <!-- Campo de correo electrónico -->
          <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input matInput type="email" class="form-control" formControlName="email" placeholder="Ingresa tu correo">
            <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="text-danger">
              Ingresa un correo válido.
            </div>
          </div>

          <!-- Botón para enviar -->
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Enviar Enlace</button>
          </div>

          <!-- Enlace para volver al login -->
          <div class="login-link">
            <a routerLink="/login" class="btn-link">Volver al inicio de sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
