/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.swal-confirm-morado {
  background-color: #6a1275 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 20px;
}

.swal-cancel-gray {
  background-color: #6c757d !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 20px;
}
