<div class="calendario-trabajador">
  <h4>📅 Días Especiales</h4>

  <div *ngIf="diasEspeciales.length === 0" class="no-dias">
    No hay días especiales configurados para este trabajador.
  </div>

  <ul class="lista-dias">
    <li *ngFor="let dia of diasEspeciales; let i = index" [class.removiendo]="dia.removiendo">
      {{ dia.tipo }} - {{ dia.fecha | date: 'longDate' }}
      <button class="btn-eliminar" (click)="eliminarDia(i)">Eliminar</button>
    </li>
  </ul>

  <div class="agregar-dia">
    <h5>➕ Agregar nuevo día especial:</h5>
    <input type="date" #fechaInput>
    <select #tipoInput>
      <option value="Permiso">Permiso</option>
      <option value="Vacaciones">Vacaciones</option>
      <option value="Vacaciones Pagadas">Vacaciones Pagadas</option>
      <option value="Falta">Falta</option>
      <option value="Incapacidad">Incapacidad</option>
      <option value="Permiso con Goce de Sueldo">Permiso con Goce de Sueldo</option>
    </select>
    <button (click)="agregarDiaEspecial(tipoInput.value, fechaInput.valueAsDate!)">Agregar</button>
  </div>
  <div *ngIf="mostrarMensaje" class="mensaje-flotante">
    {{ mensajeTemporal }}
  </div>
</div>
